<!-- Sidebar -->
<div id="sidebar">

    <!-- Logo -->
    <h1 id="logo"><a href="{{ site.url }}">Mike Simonson</a></h1>

    <!-- Nav -->
    <nav id="nav">
        <ul>
            <li{% if '' == page.url|trim('/') %} class="current" {% endif %}><a href="{{ site.url }}">Latest Posts</a></li>
            <li><a href="{{ site.joindin }}">Talks</a></li>
            <li><a href="{{ site.github }}">Projects</a></li>
            <li><a href="http://brusselsphp.be" style="display:inline-block">BrusselsPHP <img src="{{ site.url }}/images/brusselsphp/72x72.png" style="display:inline-block; margin-bottom: -3em; margin-top: -3em;"/></a></li>
        </ul>
    </nav>
    <nav id="nav">
        <ul>
            <li{% if 'about' == page.url|trim('/') %} class="current" {% endif %}><a href="{{ site.url }}/about">About Me</a></li>
            <li{% if 'contact-me' == page.url|trim('/') %} class="current" {% endif %}><a href="{{ site.url }}/contact-me">Contact Me</a></li>
            <li><a href="https://twitter.com/{{ site.twitter }}"><span class="genericon genericon-twitter text-align"></span> @{{ site.twitter }}</a></li>
            <!--<li><a href="{{ site.url }}/archives">Archives</a></li>-->
        </ul>
    </nav>

<!--    &lt;!&ndash; Recent Posts &ndash;&gt;
    <section class="box recent-posts">
        <header>
            <h2>Recent Posts</h2>
        </header>
        <ul>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li><a href="#">Feugiat nisl aliquam</a></li>
            <li><a href="#">Sed dolore magna</a></li>
            <li><a href="#">Malesuada commodo</a></li>
            <li><a href="#">Ipsum metus nullam</a></li>
        </ul>
    </section>-->

    <ul id="copyright">
        <li>&copy; Mike Simonson.</li>
        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        <li>Powered by: <a href="http://sculpin.io">Sculpin</a></li>
    </ul>

</div>
