---
layout: default
title: Home
generator: pagination
pagination:
    max_per_page: 1
use:
    - posts
---
{% block content %}

    {% for post in page.pagination.items %}
        {% include '_partials/post.html' with {'page': post, 'homepage': true} %}
    {% endfor %}

    {% if page.pagination.previous_page or page.pagination.next_page %}
        <!-- Pagination -->
        <div class="pagination">
            <a href="{{ site.url }}{{ page.pagination.previous_page.url }}" class="button previous">Previous Page</a>
            <a href="{{ site.url }}{{ page.pagination.next_page.url }}" class="button next">Next Page</a>
        </div>
    {% endif %}

{% if page.previous_post or page.next_post %}
<!--<nav class="article">
    <ul>
        {% if page.next_post %}
        <li>Next: <a class="next" href="{{ site.url }}{{ page.next_post.url }}" title="{{ page.next_post.title }}"><span class="title">{{ page.next_post.title }}</span></a></li>
        {% endif %}
        {% if page.previous_post %}
        <li>Previous: <a class="previous" href="{{ site.url }}{{ page.previous_post.url }}" title="{{ page.previous_post.title }}"><span class="title">{{ page.previous_post.title }}</span></a></li>
        {% endif %}
    </ul>
</nav>-->
{% endif %}

{% endblock %}
